torch==1.6.0
librosa==0.8.0
numpy==1.18.5
pyttsx3==2.90
matplotlib==3.3.3
scipy==1.4.1
configparser==5.0.0
scikit-learn==0.24.0
soundfile==0.10.3.post1
flask==1.1.2
pyaudio==0.2.11
wave==0.0.2
pydub==0.24.1
ffmpeg-python==0.2.0
spleeter==2.0.2
tqdm==4.50.1
moviepy==1.0.3
requests==2.21.0
paddlespeech==0.1.0
